/*==========================
	Custom css
==========================*/

/* ==== font-family: Lato,sans-serif; ==== */
.font-josefin .split-content .title,
.font-josefin .client-text p,
.font-josefin .site-header .header-nav .nav > li > a,
.font-josefin .site-footer .widget.widget_about .footer-title a,
.font-josefin .site-footer .social-link li a span,
.font-josefin h1,
.font-josefin h2,
.font-josefin h3,
.font-josefin h4,
.font-josefin h5,
.font-josefin h6{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}
/* ==== Content ==== */
.bg-purple{
	background-color: #9c34e8;
}
.content-inner{
	padding-top: 100px;
	padding-bottom: 70px;
}
.content-inner-1{
	padding-top: 100px;
	padding-bottom: 0;
}
.content-inner-2{
	padding-top: 100px;
	padding-bottom: 100px;
}
.content-inner-3{
	padding-top: 0;
	padding-bottom: 50px;
}
/* ==== Header ==== */
.site-header .main-bar{
	padding-top: 50px;
}
.site-header.header-black .main-bar{
	background-color: #000;
}
.site-header .header-nav .nav > li > a{
	color: #000!important;
}
.site-header.header-black .header-nav .nav > li > a{
	color: #fff!important;	
}
.style-1 .extra-nav {
    float: unset;
    padding: 12px 0 12px 0px;
	border: 0;
    display: block;
    text-align: center;
}
.video-wraper .video-play a div{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: var(--color-primary);
    text-align: center;
    line-height: 40px;
    color: #000;
    font-size: 14px;
    position: relative;
    display: inline-block;	
}
.video-wraper .video-play a div:before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid var(--color-primary);
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 100%;
    animation: animationSignal1;
    animation-iteration-count: infinite;
    animation-duration: 3s;
	-webkit-animation: animationSignal1;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    z-index: -1;
	transform:  scale(1);
	-moz-transform:  scale(1);
	-webkit-transform:  scale(1);
	-ms-transform:  scale(1);
	-o-transform:  scale(1);
	-moz-transition:all 0.5;
	-o-transition:all 0.5;
	-webkit-transition:all 0.5;
	-ms-transition:all 0.5;
	transition:all 0.5;
}
@keyframes animationSignal1 {
  /*Video Popup*/
	0% {
		opacity: 0.8;
		transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
		-webkit-transform: scale(0.9);
	}
	100% {
		transform:  scale(1.5);
		-moz-transform:  scale(1.5);
		-ms-transform:  scale(1.5);
		-o-transform:  scale(1.5);
		-webkit-transform:  scale(1.5);
		opacity: 0;
	}
}
@-webkit-keyframes animationSignal1 {
  /*Video Popup*/
	0% {
		opacity: 0.8;
		transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
		-webkit-transform: scale(0.9);
	}
	100% {
		transform:  scale(1.5);
		-moz-transform:  scale(1.5);
		-ms-transform:  scale(1.5);
		-o-transform:  scale(1.5);
		-webkit-transform:  scale(1.5);
		opacity: 0;
	}
}
.video-wraper .video-play a div:after{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid var(--color-primary);
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    animation: animationSignal2;
    animation-iteration-count: infinite;
    animation-duration: 3s;
	-webkit-animation: animationSignal2;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    z-index: -1;
	transform:  scale(1);
	-moz-transform:  scale(1);
	-webkit-transform:  scale(1);
	-ms-transform:  scale(1);
	-o-transform:  scale(1);
	-moz-transition:all 0.5;
	-o-transition:all 0.5;
	-webkit-transition:all 0.5;
	-ms-transition:all 0.5;
	transition:all 0.5;
}
@keyframes animationSignal2 {
  /*Video Popup*/
	0% {
		opacity: 0.8;
		transform: scale(0.9);
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
	}
	100% {
		transform:  scale(1.9);
		-moz-transform:  scale(1.9);
		-webkit-transform:  scale(1.9);
		-ms-transform:  scale(1.9);
		-o-transform:  scale(1.9);
		opacity: 0;
	}
}
@-webkit-keyframes animationSignal2 {
  /*Video Popup*/
	0% {
		opacity: 0.8;
		transform: scale(0.9);
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
	}
	100% {
		transform:  scale(1.9);
		-moz-transform:  scale(1.9);
		-webkit-transform:  scale(1.9);
		-ms-transform:  scale(1.9);
		-o-transform:  scale(1.9);
		opacity: 0;
	}
}
.bg-primary .video-wraper .video-play a div:after,
.bg-primary .video-wraper .video-play a div:before{
	border-color:#000;
}
.bg-primary .video-wraper .video-play a div {
	background-color: #000;
    color: #fff;
    display: inline-block;	
    position: relative;	
}
.bg-primary .video-wraper .video-play a div {
	
}
.site-header .video-wraper .video-play a span{
	color: #000;
}
.site-header.header-black .video-wraper .video-play a span{
	color: #fff;
}
.video-wraper .video-play a span{
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    line-height: 22px;
    text-transform: capitalize;
	margin-left: 20px;
}
.site-header .main-bar [class*="container"] div {
    flex: 1 1 auto;
}
.style-1.site-header .main-bar [class*="container"]{
	justify-content: space-between;
	display: flex;
}
.site-header .main-bar .header-nav{
	flex-grow: unset;
}
/* ==== Mfp ==== */
.mfp-bg {
    z-index: 9999999;
}
.mfp-wrap {
    z-index: 9999999;
}
/* ==== Banner ==== */
.page-banner{
	min-height:calc(100vh - 118px);
}
.page-banner .intro-title {
    color:white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: 'DIN Condensed Bold';
    font-size: 250px;
    line-height: 220px;
    font-weight: 600;
	margin-bottom: 0;
    font-weight: 900;
}
.page-banner .video-box video{
	width: 100%;
	margin-bottom: 30px;
}
.pt-title{
    font-family: 'DIN Condensed Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
	background-image:url(../images/overlay/pt1.png);
    padding: 10px 10px 8px 10px;
}
.pt-title .ti-arrow-down{
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
.page-banner .video-box .content-box p{
    font-family: Lato,sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.5;
    color: #fff;
    opacity: .85;
}
.page-banner .video-box .content-box .showreel,
.page-banner .video-box .content-box .social-list{
	float: right;
}
.page-banner .video-box .content-box .social-list ul li{
	display: inline-block;
	font-family: Lato,sans-serif;
}
.page-banner .video-box .content-box .social-list ul li a{
    font-weight: 400;
    font-size: 14px;
    color: #fff!important;
    opacity: .8;
    margin-left: 40px;
}
.page-banner .video-box .content-box .social-list{
	margin-top: 40px;
}
.side-btn {
    font-family: 'DIN Condensed Bold';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
	line-height: 30px;
    padding:40px 15px;
	position: absolute;
	letter-spacing: 1px;
}
.contact-btn {
	background-color: #3267B2;
	color: white !important;
	top: 50%;
	right: 0;
	margin: 0;
	transform: rotate(90deg) translateY(50%);
	-moz-transform: rotate(90deg) translateY(50%);
	-webkit-transform: rotate(90deg) translateY(50%);
	-ms-transform: rotate(90deg) translateY(50%);
	-o-transform: rotate(90deg) translateY(50%);
	padding: 15px 40px;
	transform-origin: right;
}
.discover-btn{
	background-color:#000;
	color: #fff!important;
	transform-origin: 0 0;
	left: 0;
    bottom: 0px;
    writing-mode: vertical-lr;
}

/* ==== Split Slide  ==== */
.split-box {
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    position: sticky;
    top: 0;
}
.split-content {
    padding: 80px;
    height: 100%;
    width: 100%;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
}
.split-content .title {
    font-family: 'DIN Condensed Bold';
    font-size: 120px;
    color: #fff;
    line-height: 120px;
    text-transform: uppercase;
    font-weight: 600;
}
.split-content .description,
.services-box .description{
    margin-top: 30px;
    max-width: 350px;
    color: #fff;
    font-size: 18px;
    text-align: left;
    line-height: 27px;
}
.btn-link:hover{
	text-decoration: unset;
}
.btn-link {
    position: relative;
    font-family: 'DIN Condensed Bold';
    font-size: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.split-box .split-thumb {
    width: 100%;
    height: 100%;
    display: flex;
	overflow: hidden;
}
.split-box .split-thumb img {
    object-fit: cover;
}
.split-box-area .split-item .title {
	display: none;
}
.split-box-area .split-content .title{
	font-size: 90px;
	line-height: 90px;
	color:#fff;
}
/* ==== Social Section ==== */
.social-section{
	align-items: center;
	display: flex;
	background:#242E60;
}
.p-title{
    font-size: 20px;
	color: #000;
    line-height: 24px;
}
.social-section .title {
    margin-bottom: 0;
    font-size: 70px;
    line-height: 80px;
}
.social-section .title a {
    color: white;
    font-family:'DIN Condensed Bold';
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(90deg,#6424ee,#6424ee 50%,#000 0);
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s;
}
.social-section .title a:hover{
    transition: all .5s;
    background-size: 200% 100%;
	background-position: 0;
}

/* ==== Footer ==== */
.site-footer.bg-black .footer-top,
.site-footer.bg-black .footer-bottom{
	background-color: #000;
}
.site-footer .widget.widget_about .footer-title a{
	color: #fff;
	font-family: 'DIN Condensed Bold';
	background-size: 200% 100%;
    transition-delay: 0s!important;
    transition: background-position .5s,background-size .5s;
}
.site-footer .widget.widget_about .footer-title{
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    line-height: 85px;
}
.footer-bottom-logo a{
    max-width: 100px;
    display: inline-block;

}
.site-footer .widget.widget_about .footer-title a,
.site-footer .social-link li a span{
    display: inline-block;
    background-image: linear-gradient(90deg,#ffe13c,#ffe13c 50%,#fff 0);
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.site-footer .widget.widget_about .footer-title a:hover,
.site-footer .social-link li a span:hover{
    background-position: 0;
	background-size: 200% 100%;
    transition-delay: 0s!important;
    transition: background-position .5s,background-size .5s;
}
.footer-copyright p{
    color: #fff;
    font-size: 14px;
	margin-bottom: 0;
    opacity: 1;
}
.site-footer .social-link li a img{
    position: relative;
    top: -3px;
}
.site-footer .social-link{
	margin-bottom: 0;
	margin-top: 50px;
    display: flex;	
}
.site-footer .social-link li{
	display: inline-block;
	margin-right: 50px;
}
.site-footer .social-link li:last-child{
	margin-right:0;
}
.site-footer .social-link li a i{
	display: none;
}
.site-footer .social-link li a span{
    font-family: 'DIN Condensed Bold';
	background-size: 200% 100%;
    transition-delay: 0s!important;
    transition: background-position .5s,background-size .5s;
}
.site-footer .social-link li a{
    font-size: 22px;
    font-family: 'DIN Condensed Bold';
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #fff;
}
.site-footer .footer-bottom-in{
	border-top: 1px solid rgba(255,255,255,0.1);
	display: flex;
	padding-top: 25px;
	padding-bottom: 25px;
}
.site-footer .footer-bottom{
	border-top: 0;
	padding: 0;
}
.site-footer .footer-bottom-in .footer-copyright{
	margin-left: auto;
}
/* ==== About Section ==== */
.dlab-bnr-inr.no-bg-bnr{
    height: auto;
    padding: 80px 0;
	display: block;
}
.dlab-bnr-inr.no-bg-bnr .dlab-bnr-inr-entry{
	display: block;
}
.dlab-bnr-inr.no-bg-bnr .dlab-bnr-inr-entry h1 span{
	font-family: unset;
}
.dlab-bnr-inr.no-bg-bnr .dlab-bnr-inr-entry h1{
	font-size: 9vw;
	line-height: 9vw;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.dlab-bnr-inr.no-bg-bnr .dlab-bnr-inr-entry p{
    font-size: 20px;
    line-height: 30px;
    max-width: 640px;
    margin-top: 10px;
	margin-bottom:0;
}
.info-box .title{
	font-weight: 700;
}
.info-box p {
    margin-bottom: 0;
    font-size: 18px;
    opacity: 0.9;
    line-height: 28px;
}
.section-head h2.title {
    text-transform: uppercase;
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
	margin-bottom: 30px;
}
/* ==== Clients ==== */
.client-logo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.client-logo-list li{
	display: inline-block;
    margin-right: -1px;
    margin-bottom: -1px;
	padding: 10px;
}
.client-logo-list.column-3 li{
    max-width: calc(33.33% - 1px);
}
.client-logo-list.column-4 li{
    max-width: calc(25% - 1px);
}
.client-logo-list.light-border li{
    border: 1px solid #e8e8e8;		
}
.client-logo-list.dark-border li{
    border: 1px solid #171616;		
}
/* ==== Services box ==== */
.services-box-area [class*="col-"]{
	padding-left: 0;
	padding-right: 0;
}
.services-box{
    padding: 80px;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
	transition: all 0.5s;
	border-right: 1px solid #212121;
	position:relative;
	z-index:1;
}
.services-box:after{
    content: "";
    background-color:#000;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    opacity: 0.85;
	transition: all 0.5s;
}
.services-box .title {
    text-transform: uppercase;
    font-size: 55px;
    line-height: 65px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 600;
}
.services-box .number{
	color: #fff;
	margin-bottom: 50px;
}
.services-box:hover:after{
	opacity: 0.9;
	background-color: var(--color-primary);	
}
.services-box .services-text .description{
	color: #fff !important;
}
.services-box:hover .btn-link,
.services-box:hover .number,
.services-box:hover .title,
.services-box:hover .services-text .description{
	color: #000 !important;
}
.title-back{
    font-weight: 600;
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 100px;
    margin-bottom: -35px;
    letter-spacing: 1px;
}
.title-stroke {
    color: #fff;
    -webkit-text-stroke: 1px #000;
}
/* ==== Filter Work Box ==== */
.filter-work-box .filter-list li{
	display: block;
}
.filter-work-box .filter-list li a{
	padding-bottom: 25px;
	display: block;
}
.filter-work-box .filter-list li a .number{
	color: #fff;
	margin-bottom: 0;
}
.filter-work-box .filter-list li a .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 60px;
	margin-bottom: 10px;	
}
.filter-work-box .filter-list li a span {
	font-family: 'DIN Condensed Bold';
	font-size:22px;
	line-height:26px;
    letter-spacing: 1.1px;
    text-transform: uppercase;	
}
.filter-work-box .filter-list li a {
	background-image: linear-gradient(90deg,#000,#000 50%,hsla(41,0%,0%,0.5) 0);
    background-position: 100%;
	background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.filter-work-box .filter-list li a:hover{
    transition: all .5s;
    background-size: 200% 100%;
    background-position: 0;
}
.filter-work-box .filter-list li:last-child a {
	padding-bottom:0;
}
.filter-thumb-box{
	top: 0;
	height: 100vh;	
}
.filter-thumb-box .filter-thumb {
    position: relative;
	opacity:0;
    transition: all 0.5s;
}
.filter-thumb-box .filter-thumb.active{
	opacity:1;
}
.filter-thumb-box .filter-thumb img {
    align-items: center;
    display: flex;
    align-self: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.filter-thumb-box .filter-item {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}
.filter-thumb-box .filter-item .title {
    margin-top: 15px;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
	display: none;
}
.filter-thumb .img-thumb{
	transform: scale(0.8);
	transition:all 0.6s;
	overflow:hidden;
}
.filter-thumb .img-thumb img {
    transform: scale(1.3);
	transition:all 0.6s;
	opacity:0.5;
    height: 100vh;	
}
.filter-thumb.active .img-thumb {
	transform: scale(1);
	transition:all 0.6s;
}
.filter-thumb.active .img-thumb img {
	transform: scale(1);
	transition:all 0.6s;
	opacity:1;
}
.filter-thumb.disappear .img-thumb{
	opacity:0;
	transition:all 1s;
}
/* ==== Testimonial Box ==== */
.testimonial-box .testimonial-text p ,
.testimonial-box .testimonial-name ,
.testimonial-box .testimonial-position {
	font-family: 'DIN Condensed Bold';
}
.testimonial-box .testimonial-text p {
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 600;
	position: relative;
}
.testimonial-box .testimonial-text:after, 
.testimonial-box .testimonial-text:before {
    content: "“";
    position: absolute;
    font-size: 70px;
    line-height: 80px;
}
.testimonial-box .testimonial-text{
    padding: 0 20px;
}
.testimonial-box .testimonial-text:after {
    right: 0;
    bottom: 0;
}
.testimonial-box .testimonial-text:before {
    left: -20px;
}
.testimonial-box .testimonial-name {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
}
.testimonial-box .testimonial-position{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
	opacity: 0.5;
	letter-spacing: 1px;
}
/* ==== Service List Box  ==== */
.service-list-box .title {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
.service-list-box ul li{
	display: block;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.service-list-box ul li a{
	color: #000!important;
	padding: 20px 0;
	display: block;
	font-size: 18px;
}
/* ==== Contact Info  ==== */
.contact-info .thumb img{
	height: 250px;
}
.contact-info .thumb {
    padding: 0px 20px 70px;
}
.contact-info .btn-link i{
	font-size: 24px;
	margin-right: 8px;
}
/* ==== Team Box ==== */
.team-box{
	position: relative;
}
.team-box .team-info .position{
	margin-bottom: 0;
	color: #000;	
}
.team-box .team-info .name{
    font-size: 35px;
    margin-bottom: 0px;
    line-height: 40px;
    color: #000;
}
.team-box .team-info{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 15px 25px;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
	z-index: 99;
}
.team-box:hover .team-info{
	opacity: 1;
	transition: all 0.5s;
}
.dlab-overlay-primary.dlab-img-overlay1:before{
	background-color: var(--color-primary);
}
.discover-btn i{
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    position: absolute;
	top: -50px;
    left: 18px;
    color: #000;
    font-size: 24px;
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/* ==== Project Box ==== */
.project-bx{
	position:relative;
	overflow:hidden;
}
.project-bx .media img{
	width:100%;
}
.project-bx .info{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
	left: -100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.8);
	transition:all 0.6s;
	transition:all 0.6s;
	transition:all 0.6s;
	transition:all 0.6s;
}
.project-bx .info span{
    color: #000;
    font-size: 55px;
    line-height: 50px;
    opacity: 0;
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
	transition:all 0.4s ease 0.5s;
	-moz-transition:all 0.4s ease 0.5s;
	-ms-transition:all 0.4s ease 0.5s;
	-webkit-transition:all 0.4s ease 0.5s;
	-o-transition:all 0.4s ease 0.5s;
}
.project-bx:hover .info{
	left: 0;
}
.project-bx:hover .info span{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 0.8;
}
/* ==== Blog ==== */
.blog-bnr .post-title{
	font-size:60px;
	line-height:75px;
}
.blog-bnr .dlab-post-meta a,
.blog-bnr .dlab-post-meta ul li{
	font-size: 18px;
    line-height: 30px;
    color: #999;
}
.slide-carousel{
	margin-bottom:30px;
}
.slide-carousel.owl-btn-center-lr .owl-nav .owl-prev,
.slide-carousel.owl-btn-center-lr .owl-nav .owl-next{
    margin: 0 5px;
    padding: 0 10px;
    font-size: 18px;
	
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
}
.after-right{
	position:relative;
	z-index:1;
}
.after-right:after{
    content: "";
    background:#fff;
    position: absolute;
    left: -50%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.project-carousel .owl-nav{
    position: absolute;
    top: -70px;
    right: 0;
}
.project-carousel .owl-nav .owl-next,
.project-carousel .owl-nav .owl-prev{
    margin: 0;
    background: transparent;
    color: #000;
    font-size: 28px;
    line-height: 28px;
}
.bg-gray{
	background:#f5f5f5;
}
.slide-text{
	position:relative;
	z-index:2;
}
.slide-text .title{
    font-size: 130px;
    line-height: 130px;
    word-break: normal;
    white-space: nowrap;
	font-weight: 700;	
}
.style2.site-header .header-nav .nav > li > a{
    font-size: 20px;
    padding: 19px 15px;
}
.style2.site-header .header-nav .nav > li.active > a{
	position: relative;
    z-index: 1;
}
.style2.site-header .extra-nav{
    padding: 25px 0 15px 0px;
}
@media only screen and (min-width: 991px){
	.style2.site-header .header-nav{
		transform:rotateY(0deg);
		/* -moz-transform:scale(0);
		-webkit-transform:scale(0);
		-o-transform:scale(0);
		-ms-transform:scale(0); */
		transform-origin:right;
		-moz-transform-origin:right;
		-ms-transform-origin:right;
		-o-transform-origin:right;
		-webkit-transform-origin:right;
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
		-ms-transition:all 0.5s;
		-o-transition:all 0.5s;
	}
	.style2.site-header .header-nav.active{
		transform:rotateY(90deg);
		/* -moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1); */
	}
}
.style2.site-header .extra-nav .navicon span{
	background-color:#000;
}
.style2.site-header .header-nav .nav > li.active > a:after{
    content: attr(data-text);
    position: absolute;
    font-size: 50px;
    line-height: 50px;
    vertical-align: middle;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    z-index: -1;
    opacity: 0.15;
    width: auto;
    height: auto;
    background: transparent;
}
.style2 .header-nav {
    padding: 0;
	transition:all 0.5s; 
}
.pieces-social{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.pieces-social ul{
	margin:0;
	padding:0;
	list-style:none;
}
.pieces-social ul li{
}
.pieces-social ul li a{
    color: #000;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    display: inherit;
    padding: 5px 20px;
}
.bg-dark .footer-bottom,
.bg-dark .footer-top{
	background-color:#1e222b;
}
/* ==== Client Tabs ==== */
.client-bx{
    padding: 30px 30px 20px 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px 50px 0 rgba(112,118,158,0.15);
    position: relative;
    overflow: hidden;	
}
.client-text{
    padding: 30px 0 5px 0px;
    position: relative;
    margin-bottom: 20px;
}
.client-text:before,
.client-text:after{
	content:"";
	background-image:url(../images/icon/quote.png);
	position:absolute;
	top:0;
	left:0;
	background-size:cover;
	width:40px;
	height:28px;
}
.client-text:before{
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.client-media{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 0 0 4px;
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(4,0,169,0.1);
    width: 100px;
    height: 100px;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
}
.client-bx:hover .client-media{
	position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 4px 4px 4px;
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(4,0,169,0.1);
    width: 100%;
    height: 100%;
}
.client-media img{
    height: 100%;
    object-fit: cover;
}
.client-text p{
    color: #505365;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400 !important;
}
.client-info{
    margin-top: 50px;
}
.client-info .name{
    color: #2e3149;
    margin-bottom: 5px;
}
.client-info .work{
    color: #8e94bb;
}
.client-tabs .nav{
	border:0;
    padding: 0 20px;	
}
.client-tabs{
	display:flex;
    align-items: center;	
	position:relative;
    z-index: 1;	
}
.client-tabs:after{
    content: "";
    width: 1000px;
    height: 80%;
    position: absolute;
    background-image: url(../images/overlay/pt2.png);
    left: -950px;
    top: 10%;
    z-index: -2;
}
.client-tabs .nav,
.client-tabs .tab-content{
	flex:0 0 50%;
}
.client-tabs .nav li{
	flex:0 0 50%;
    padding: 15px 15px;	
}
.client-tabs .nav li a {
    padding: 0;
    box-shadow: 0px 0px 40px 0 rgba(112,118,158,0.2);
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	position:relative;
	z-index:1;
}
.client-tabs .nav li a img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.client-tabs .nav li a:before,
.client-tabs .nav li a:after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #1e222b;
    z-index: -1;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
}
.client-tabs .nav li a:before{
	top: 0;
    left: 0;
}
.client-tabs .nav li a:after{
	bottom: 0;
    right: 0;
}
.client-tabs .nav li a.active:before,
.client-tabs .nav li:hover a:before{
	top: -7px;
    left: -7px;
}
.client-tabs .nav li a.active:after,
.client-tabs .nav li:hover a:after{
	bottom: -7px;
    right: -7px;
}
.section-head.style-2.m-b0{
    margin-bottom: 0;
}
.section-head.style-2 .title{
	color: #2e3149;
	font-weight: 700;
	margin-bottom: 0;
	text-transform: capitalize;
}
.section-head.style-2 h2.title{
	font-size: 120px;
    line-height: 130px;
}
.section-head.style-2 h3.title{
	font-size: 60px;
	line-height: 70px;
}
.tab-pane.active {
    animation: slide-down 1s ease-out;
}

@keyframes slide-down {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}
/* ==== Team 2 ==== */
.dlab-team2 .dlab-title {
    margin-bottom: 5px;
    margin-top: 0;	
}
.dlab-team2 .dlab-info{
	text-align: center;
    background: #fff;
    box-shadow: 5px 5px 50px 0 rgba(112,118,158,0.2);
    padding: 15px 15px;
    width: calc(100% - 30px);
    margin-top: -15px;
    margin-left: 15px;
	position:relative;
	z-index:1;
    overflow: hidden;	
}
.dlab-team2 .dlab-info:after{
    content: "";
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    right: -10px;
    bottom: -10px;
    transform: rotate(45deg);
    transform-origin: center;
}
.dlab-team2 .dlab-media{
	position: relative;
    padding: 3px;
    background: #fff;
    box-shadow: 5px 5px 50px 0 rgba(112,118,158,0.2);
}
.dlab-team2:hover .dlab-media .dlab-social-icon {
	opacity: 1;
	transition: all 0.5s;
}
.dlab-team2 .dlab-media .dlab-social-icon {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: 0;
	opacity: 1;
	transition: all 0.5s;
}
.dlab-team2 .dlab-media .dlab-social-icon li{
	width: 50%;
	position: relative;
}
.dlab-team2 .dlab-media .dlab-social-icon li a {
    border-radius: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding: 30px;
	position: relative;
	transition: all 0.5s;
}
.dlab-team2 .dlab-media .dlab-social-icon li a:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.dlab-team2 .dlab-media .dlab-social-icon li:nth-child(1) a {
    top: -100%;
	background:#1e222b;
}
.dlab-team2:hover .dlab-media .dlab-social-icon li:nth-child(1) a{
	top: 0;
	transition: all 0.5s;
}
.dlab-team2 .dlab-media .dlab-social-icon li:nth-child(4) a{
	bottom: -100%;
	background:#1e222b;
}
.dlab-team2:hover .dlab-media .dlab-social-icon li:nth-child(4) a{
	bottom: 0;
	transition: all 0.5s;
}
.dlab-team2 .dlab-media .dlab-social-icon li:nth-child(2) a{
	right: -100%;
	background:#373e4e;
}
.dlab-team2:hover .dlab-media .dlab-social-icon li:nth-child(2) a{
	right: 0;
	transition: all 0.5s;
}
.dlab-team2 .dlab-media .dlab-social-icon li:nth-child(3) a{
	left: -100%;
	background:#373e4e;
}
.dlab-team2:hover .dlab-media .dlab-social-icon li:nth-child(3) a{
	left: 0;
	transition: all 0.5s;
}
.dlab-team2 .dlab-media .dlab-social-icon li a:hover{
	background-color:#0c0e13;
}
/* ==== Slide Items ==== */
.slide-carousel2 .owl-nav{
	display:none;
}
.slide-carousel2 .slide-image{
    position: relative;
    padding: 80px 0;
    z-index: 1;
    overflow: hidden;	
}
.slide-carousel2 .slide-image:after{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background-image: url(../images/overlay/pt2.png);
    right: -100%;
    top: 0;
    z-index: -1;
	transition:all 1s ease 1.2s;
}
.slide-carousel2 .active .slide-image:after{
	right: 0;
}
.slide-carousel2 .slide-image img{
    width: 90%;
    transform: translateX(-120%);
	transition:all 1s ease 1s;
	height: calc(100vh - 300px);
    object-fit: cover;	
}
.slide-carousel2 .owl-item.active .slide-image img{
	transform: translateX(0);
	transition:all 1s ease 0.5s;
}
.owl-btn-5 .prev, 
.owl-btn-5 .next{
    width: 60px;
    height: 60px;
    padding: 0 0;
    line-height: 60px;
    text-align: center;
    border-radius: 1px;
    font-size: 22px;
    background: #1e222b;
	color: #fff;	
}
/* .btn-preview{
    background: #000;
    border-radius: 0;
    color: #ffff;
    padding: 17px 0;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    border: 0;
    overflow: hidden;
    width: 200px;
}
.btn-preview:before{
    content: attr(data-text);
    color: #000;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    line-height: 54px;
	background: #ffffff; 
	background: -moz-linear-gradient(left, #ffffff 50%, #000000 50%); 
	background: -webkit-linear-gradient(left, #ffffff 50%,#000000 50%); 
	background: linear-gradient(to right, #ffffff 50%,#000000 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );
	text-overflow: clip;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-preview:after{
content: "";
    position: absolute;
    z-index: 2;
    background: #fff;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
} */
/* .site-footer .widget.widget_about .footer-title,
.footer-copyright p,
.footer-bottom-logo img,
.site-footer .social-link li a{
	opacity: 0.5;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
}
.site-footer:hover .widget.widget_about .footer-title,
.site-footer:hover .footer-copyright p,
.site-footer:hover .footer-bottom-logo img,
.site-footer:hover .social-link li a{
	opacity:1;
} */

.link-line{
	transition:all 0.5s;
	padding: 15px 0;
	position:relative;
	z-index:1;
}
.link-line:after{
	content:"";
	position: absolute;
    height: 100%;
    width: 0;
    left: auto;
    top: 0;
    z-index: -1;
	transition:all 0.5s;
    right: 0;
}
.link-line.btn-link:hover{
    padding: 15px 60px 15px 20px;
	color:#fff !important; 
}
.link-line:hover:after{
	background:#000;
	width:100%;
	left:0;
	right:auto;
}
.link-line i{
	font-size: 18px;
    position: absolute;
    top: 20px;
    right: 20px;
	opacity:0;
}
.link-line i:after{
	transition:all 0.5s;
	content: "";
    height: 3px;
    width: 10px;
    background: #000;
    position: absolute;
    right: 13px;
    top: 7px;
	opacity:0;
}
.link-line:hover i:after{
	background: #fff;
	opacity:1;
}
.link-line:hover i{
	opacity:1;
}
.logo-text span{
	font-size: 38px;
    font-family: 'DIN Condensed Bold';
    font-weight: 300;
    letter-spacing: 5px;
    color: #000;
	display: inline-block;
}

/* ==== Responsive Items ==== */
@media only screen and (min-width: 991px){
	.header-nav .nav > li .sub-menu{
		background-color: #000;
	}
	.header-nav .nav > li .sub-menu li a{
		color:#fff;
	}
	.header-nav .nav > li .mega-menu > li ul a:hover, 
	.header-nav .nav > li .sub-menu li:hover > a{
		background-color:rgba(255,255,255,0.2);
		color: #fff !important;	
	}
	.header-nav .nav > li .sub-menu.left{
		right: 0;
		left:auto;
	}
}
@media only screen and (max-width: 1700px){
	.slide-text .title {
		font-size: 100px;
		line-height: 100px;
	}
}
@media only screen and (max-width: 1400px){
	.slide-text .title {
		font-size: 80px;
		line-height: 80px;
		padding-top: 50px;	
	}
	.slide-carousel2 .slide-image{
		padding: 40px 0;
	}
	.slide-carousel2 .slide-image img{
		height: calc(100vh - 220px);
	}
}
@media only screen and (min-width: 1549px){
	.container{
		max-width: 1440px;
	}
}
@media screen and (max-width: 1549px){
	.ms-container {
		max-width: 1140px;
	}
	.page-banner{
	    padding-top: 50px;	
	}
	.page-banner .intro-title{
		font-size: 170px;
		line-height: 145px;
	}
	.page-banner .video-box .content-box .title{
		margin-bottom: 15px;
	}
	.page-banner .video-box .content-box .social-list {
		margin-top: 0px;
	}	
}
@media only screen and (max-width: 1199px){
	.site-header .main-bar {
		padding-top: 20px;
	}

	.filter-thumb-box .filter-item {
		position: unset;
		height: auto;
		display: inline-block;
		flex: 0 0 33.33%;
		padding: 0 15px;
		max-width: 33.33%;
		margin-bottom: 30px;
	}
	.filter-thumb-box {
		height: auto;
	    display: flex;
		flex-wrap: wrap;
	    margin: 0 -15px;	
	}
	.filter-thumb .img-thumb img{
		opacity: 1;
		height: 300px;
		transform: scale(1);
		object-fit: cover;	
	}
	.filter-thumb .img-thumb{
		transform: scale(1);
	}
	.filter-thumb-box .filter-thumb{
		height: auto;
	    opacity: 1;	
	}
	.site-footer .widget.widget_about .footer-title {
		font-size: 55px;
		line-height: 65px;
	}
	.site-footer .social-link li a {
		font-size: 18px;
	}
	.page-banner .intro-title{
		margin-right: 15px;
		display:inline-block;
	}
	.page-banner .video-box{
		margin-top: 30px;
	}
	.our-works-filter .filter-list{
		display: none;
	}
	.filter-thumb-box [class*="col-"] {
		display: flex;
		margin-bottom: 30px;
	}
	.filter-thumb-box .filter-item .title{
		display: block;
	    line-height: 20px;	
		color: #000;	
	}
	.content-inner-2 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.content-inner {
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.services-box {
		padding: 100px 50px;
	}
	.services-box .title {
		font-size: 36px;
		line-height: 46px;
	}
	.content-inner-1 {
		padding-top: 50px;
	}
	.side-btn.discover-btn {
		font-size: 16px;
		line-height: 24px;
		padding: 25px 10px;
	    margin-bottom: 30px;	
	}
	.side-btn.contact-btn {
		font-size: 16px;
		line-height: 24px;
		padding: 10px 25px;
	}
	.split-box .split-content{
		display: none;
	}
	.split-box-area{
		margin-left: 15px;
		margin-right: 15px;
	}
	.split-box .split-thumb {
		height: 300px;
	}
	.split-box-area .split-box {
		height: 100%;
		position: relative;
	}
	.style2.split-box-area .split-item .title {
		color: #fff;
	}
	.split-box-area .split-item .title {
		font-size: 28px;
		margin-top: 15px;
		display: block;
	}
	.split-box-area{
		margin-left: -15px;
		margin-right: -15px;
	}
	.row.split-box-area > [class*="col-"], 
	.split-box-area > [class*="col-"]{
		padding-left: 15px;
		padding-right: 15px;
	}
	.social-section .title {
		font-size: 60px;
		line-height: 72px;
	}
	.client-area .section-head.style-2.m-b0 {
		text-align:center;
	    margin-bottom: 50px;	
	}
	.client-area .section-head.style-2 h2.title{
		font-size: 60px;
		line-height: 70px;
	}
	.split-box-area.style2{
		padding:40px 15px 0 15px;
	}
	.section-head h2.title {
		font-size: 60px;
		line-height: 70px;
	}
	.pt-title{
		font-size: 20px;
	}
	.title-stroke{
		display:none;
	}
	.split-box-area.row.spno, .spno {
		margin-left: 20px;
		margin-right: 20px;
	}
	.discover-btn i{
		top: -30px;
		left: 14px;
		font-size: 18px;
	}
}
@media only screen and (max-width: 991px){
	.style2.site-header .header-nav .nav > li > a {
		font-size: 16px;
		padding: 5px 0;
		color: #fff !important;
	}
	.style2 .header-nav .nav > li > .sub-menu,
	.style2.site-header .header-nav .nav > li > a{
		border-bottom: 1px solid rgba(255,255,255,0.1);	
	}
	.style2.site-header .header-nav .nav > li .sub-menu li a,
	.header-nav .nav > li .sub-menu li a:after, 
	.header-nav .nav > li .mega-menu > li ul a:after{
		color:#b2bacc;
	}
	.style-1 .header-nav .nav > li .sub-menu li a:after, 
	.style-1 .header-nav .nav > li .mega-menu > li ul a:after{
		color:#000;
	}
	.style2.site-header .header-nav .nav > li.active > a:after{
		content:none;
	}
	.slide-text .title {
		font-size: 60px;
		line-height: 70px;
		padding-top: 40px;
	}
	.slide-carousel2 .slide-image img {
		height: auto;
	}
	.slide-carousel2{
		margin-bottom:30px;
	}
	.owl-btn-5 .prev, 
	.owl-btn-5 .next {
		width: 50px;
		height: 50px;
		padding: 0 0;
		line-height: 50px;
	}
	.slide-carousel2 .slide-image {
		padding: 20px 0;
	}
	.slide-text {
		text-align: center;
		margin-bottom: 30px;
	}
	.social-section{
		background: #fff;
	}
	.filter-thumb-box .filter-item{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.social-section .title a {
		font-size: 80px;
		line-height: 80px;
	}
	.social-section{
		height: auto;
	}
	.site-footer .widget.widget_about .footer-title {
		font-size: 45px;
		line-height: 55px;
	}
	.site-footer .social-link li {
		margin-right: 30px;
	}
	.footer-fixed .page-wraper{
		padding-bottom: 0!important;
	}
	.footer-fixed .site-footer {
		position: relative;
	}
	.site-header .main-bar .extra-nav{
		text-align: right;
	}
	.mo-left .header-nav {
		background-color: var(--color-primary);
	}
	.mo-left .header-nav .nav{
		background-color: transparent;
		padding:65px 65px 20px 15px;
	}
	.mo-left .header-nav .nav > li > a {
		color: #000!important;
		font-family: 'DIN Condensed Bold';
		text-transform: uppercase;
		font-size: 24px;
		line-height: 35px;
		font-weight: 600;
		letter-spacing: 1px;
		border-bottom: 0;
		padding: 5px 0;
		
	}
	.site-header .navbar-toggler{
		z-index: 999;
		margin: 24px 0 18px 30px;
		outline: none;
	}
	.mo-left .navbar-toggler.open:after {
		content: unset; 
	}
	.navicon {
		width: 28px;
	}
	.mo-left .header-nav.show {
		left: 0;
		width: 100%;
	}
	.contact-info .thumb img {
		height: 100px;
	}
	.contact-info .thumb {
		padding: 0px 10px 50px;
	}
	.services-box {
		padding: 75px 25px;
	}
	.services-box .title {
		font-size: 30px;
		line-height: 40px;
	}
	.testimonial-box .testimonial-text {
		padding: 0 40px;
	}
	.testimonial-box .testimonial-text:before {
		left: 0;
	}
	.testimonial-box .testimonial-text p {
		font-size: 36px;
		line-height: 46px;
		line-height: 46px;
	}
	.content-inner {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.page-banner .intro-title {
		font-size: 150px;
		line-height: 140px;
	}
	.site-header.header-black .navicon span{
		background-color: #000;
	}
	.side-btn{
		display: none;
	}
	.split-box-area .split-item .title {
		font-size: 24px;
	}
	.fixed-body{
		overflow:hidden;
	}
	.site-header .header-nav .nav > li > a{
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.style-1 .header-nav .nav > li .sub-menu li:hover > a {
		color: #000;
	}
	.header-nav .nav .open > a, 
	.header-nav .nav .open > a:focus, 
	.header-nav .nav .open > a:hover {
		background-color: inherit;
		border-color: rgba(0,0,0,0.1);
	}
}
@media only screen and (max-width: 767px){
	.mo-left .header-nav .nav{
		padding: 100px 30px 20px 30px;
	}
	.header-nav .nav > li{
		padding: 0 15px 0 15px;
	}
	.row.sp40 [class*="col-"], 
	.sp40 [class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.row.sp40, .sp40 {
		margin-left: -15px;
		margin-right: -15px;
	}
	.pieces-slide {
		height: auto;
	}
	.slide-text .title {
		font-size: 50px;
		line-height: 60px;
		padding-top: 40px;
		margin-bottom: 10px;
	}
	.client-tabs{
		flex-direction: column-reverse;
	}
	.client-tabs .nav, 
	.client-tabs .tab-content {
		flex: 0 0 100%;
	}
	.client-tabs .nav li {
		flex: 0 0 25%;
		padding: 10px 5px;	
	}
	.client-tabs .nav li a img{
	    height: 80px;	
	}
	.client-tabs .nav{
		margin-bottom:30px;
	}
	.bg-dark.site-footer .social-link li a i{
		color:#fff;
	}
	.bg-dark.site-footer .social-link li a {
		font-size: 15px;
	}
	.client-area .section-head.style-2.m-b0{
		margin-bottom: 20px;
	}
	.split-box-area.style2 {
		padding: 40px 0 0 0px;
	}
	.social-section .title a {
		font-size: 35px;
		line-height: 35px;
	}
	.site-footer .widget.widget_about .footer-title {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
	}
	.site-footer .footer-bottom-in {
		display: block;
		text-align: center;
	}
	.site-footer .footer-bottom-in .footer-bottom-logo{
		margin-bottom: 10px;
	}
	.footer-top {
		padding-top: 50px;
	}
	.site-footer .social-link {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.site-footer .social-link li a i{
		display: block;
		color: #000;
	}
	.site-footer .social-link li a span{
		display: none;
	}
	.site-footer .social-link li.ml-auto a span{
		display: inline-block;
	}
	.site-footer .social-link li a {
		font-size: 25px;
	    line-height: 25px;	
	}
	.page-banner .intro-title {
		font-size: 120px;
		line-height: 110px;
	}
	.client-logo-list li {
		max-width: calc(33.33% - 1px);
	}
	.section-head h2.title {
		font-size: 45px;
		line-height: 55px;
    }
	.dlab-bnr-inr.no-bg-bnr .dlab-bnr-inr-entry h1{
		text-align: left;
	}
	.dlab-bnr-inr.no-bg-bnr {
		padding: 30px 0 30px;
		background: #f4f4f4;	
	}
	.dlab-bnr-inr.no-bg-bnr p{
		margin-bottom:0;
	}
	.dlab-bnr-inr.no-bg-bnr .dlab-bnr-inr-entry p {
		font-size: 16px;
		line-height: 28px;
	}
	.site-header .main-bar {
		padding-top: 25px;
	}
	.services-box {
		height: auto;
		border-right: 0;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	    padding: 40px 15px;	
	}
	.services-box .number{
		margin-bottom: 20px;
	}
	.services-box .services-text .description {
		color: #fff !important;
		margin: 10px 0 10px 0;
		font-size: 15px;
		line-height: 26px;
	}
	.split-box .split-thumb {
		height: auto;
		padding: 0;
	}
	.filter-thumb-box{
		padding-top:30px;
	}
	.row.sp60, .sp60 {
		margin-left: -15px;
		margin-right: -15px;
	}
	.row.sp60 [class*="col-"], 
	.sp60 [class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.blog-bnr .post-title {
		font-size: 38px;
		line-height: 45px;
	}
	.page-banner .video-box .content-box .social-list ul li a {
		margin-left: 15px;
	}
	.split-box-area.row.spno{
		margin-left: 8px;
		margin-right: 8px;
	}
	.site-footer .widget.widget_about .footer-title br{
		display:none;
	}
	.row.split-box-area > [class*="col-"], 
	.split-box-area > [class*="col-"] {
		padding-left: 8px;
		padding-right: 8px;
	}
	.dlab-bnr-inr-entry {
		padding-bottom: 0;
	}
	.info-box p{
		font-size: 15px;
	    line-height: 24px;	
	}
	.team-box .team-info{
		padding: 10px 15px;
	}
	.team-box .team-info .name {
		font-size: 18px;
		margin-bottom: 0px;
		line-height: 24px;
	}
	.section-head {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 591px){
	.content-inner-1 {
		padding-top: 40px;
	}
	.content-inner-2 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.info-box .title {
		margin-bottom: 5px;
		font-size: 22px;
		line-height: 30px;
	}
	.section-head.m-sm-b0{
		margin-bottom:0;
	}
	.pieces-social{
		display:none;
	}
	.site-footer .social-link li {
		margin-right: 10px;
		margin-left: 10px;
	}
	.site-footer .social-link {
		margin-top: 20px;
	}
	.page-banner .intro-title {
		font-size: 75px;
		line-height: 80px;
	}
	.page-banner .showreel{
		display: none;
	}
	.client-logo-list.column-4 li ,
	.client-logo-list.column-3 li{
		max-width:calc(33.33% - 1px);
	}
	.section-head h2.title {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 5px;
	}
	.btn-link{
	    font-size: 20px;	
	}
	.site-header .main-bar {
		padding-top: 0;
	}
	.mo-left .header-nav .nav {
		padding: 90px 0 0px;
	}
	.logo-header img, .logo-footer img {
		width: 100px;
	}
	.video-wraper .video-play a i {
		height: 30px;
		width: 30px;
		line-height: 30px;
		font-size: 10px;
	}
	.video-wraper .video-play a span {
		font-size: 11px;
		line-height: 20px;
		margin-left: 10px;
	}
	.site-header .navbar-toggler{
		margin: 22px 0 15px 20px;
	}
	.title-back {
		font-size: 32px;
		line-height: 90px;
	}
	.testimonial-box .testimonial-text p {
		font-size: 28px;
		line-height: 38px;
	}
	.testimonial-box .testimonial-text {
		padding: 0 0;
	}
	.testimonial-box .testimonial-text:before,
	.testimonial-box .testimonial-text:after{
		content: unset;
	}
	.filter-thumb .img-thumb img{
		height: 120px;
	}
	.filter-thumb-box .filter-item .title {
		font-size: 20px;
		display: block;
		line-height: 24px;
	}
	.filter-thumb-box .filter-item{
		padding: 0 8px;
	}
	.filter-thumb-box{
		margin: 0 -8px;
	}
	.page-banner {
		min-height: auto;
	}
	.service-list-box ul li a {
		color: #000!important;
		padding: 10px 0;
		display: block;
		font-size: 15px;
	}
	.service-list-box .title {
		margin-bottom: 0px;
		font-size: 22px;
		font-weight: 600;
	}
	.contact-info .thumb {
		padding: 0px 10px 20px;
	}
	.contact-info p{
		margin-bottom:10px;
	}
	.contact-info .thumb img {
		height: 180px;
	}
	.dlab-post-text p {
		font-size: 15px;
		line-height: 26px;
	}
	.dlab-post-meta ul li{
	    font-size: 14px;	
	}
	.blog-bnr .dlab-post-meta a, 
	.blog-bnr .dlab-post-meta ul li {
		font-size: 15px;
	}
	blockquote{
		font-size: 16px;
	}
	ol.comment-list li.comment p {
		line-height: 26px;
		font-size: 15px;
	}
	ol.comment-list li.comment .comment-meta{
		margin-bottom: 5px;
	}
	.alignright{
		margin: 5px 0 25px 0;
		width:100%;
	}
	.comments-area .comment-form p input[type="text"] {
		height: 40px;
	}
	.comments-area .comment-form p input[type="text"], 
	.comments-area .comment-form p textarea{
		
		padding: 10px 15px 10px 15px;
		border: 1px solid #e1e6eb;
	}
	.logo-text span {
		font-size: 28px;
		line-height: 28px;
	}
}